<form action="/categories/<%=params[:category_id]%>/tasks/<%=params[:id]%>" method=<%=method%> class="flex flex-col gap-2 justify-center items-center bg-slate-500 p-6 rounded-3xl border-2 w-[400px] drop-shadow-md">

    <% if @task.errors.any? %>
        <ul>
            <% @task.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    <% end %>

    <label class="self-start" for="title">Title</label>
    <input name="title" type="text" class="w-[100%] rounded-lg" value="<%=@task.title%>">

    <label class="self-start" for="description">Description</label>
    <textarea name="description" type="text" class="w-[100%] rounded-lg p-2 min-h-[150px]" ><%=@task.description%></textarea>

    <label class="self-start" for="deadline">Due Date</label>
    <input name="deadline" type="date" class="w-[100%] rounded-lg" value=<%=@task.deadline%>>

    <button type="submit" formmethod=<%=method%> class="h-[40px] w-[120px] bg-slate-200 rounded-lg ring-2  ring-amber-500 ring-offset-2 hover:ring-4 mt-4"><%=btn%></button>
</form>