<%= render "navbar"%>

<div class=" container flex flex-col item-center gap-8 h-[80%] m-auto">

    <div class="flex flex-col h-[300px] w-[100%] p-4 justify-center items-center">
        <span class=" relative text-slate-50 text-8xl p-2 
        after:content-[''] after:bg-amber-500 after:h-[5px] after:w-[100%] 
        after:absolute after:bottom-0 after:left-0">
            Welcome to Journal Planner
        </span>
    </div>

    <div class="flex gap-4 w-[100%] justify-center">

        <div id="sidepanel" class="p-4 ring-slate-600 ring-2 ring-offset-2 ring-offset-amber-200 max-w-[800px]">
            <%= render 'categories/sidepanel'%>
        </div>

        <div class="w-[100%]">
            <div class="flex gap-2 items-center ml-4">
                
                <%= link_to "View Today Tasks", {:view => "today"}, class: "shiro rounded p-1 #{params[:view] === "today" ? 'bg-slate-500' : ''}"%>
                <span class=" bg-slate-100 h-[20px] w-[2px] rounded-full"></span>
                <%= link_to "View Completed Tasks", {:view => "completed"}, class: "shiro rounded p-1 #{params[:view] === "completed" ? 'bg-slate-500' : ''}"%>
            </div>
            <div>
                <%= render 'tasks/table' %>
            </div>
        </div>
    </div>    
</div>

<button></button>

<%=turbo_frame_tag "cateogry_add"%>