<%=form_with(model: @category) do |f|%>

    <% if @category.errors.any? %>
        <ul>
            <% @category.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    <% end %>

    <div class="flex flex-col gap-2 justify-center items-center bg-slate-500 p-6 rounded-3xl border-2 drop-shadow-md w-[400px]">
        <%=f.label "Category" , class: "self-start font-bold" %>
        <%=f.text_field :name, class: "w-[100%] rounded-lg"%>

        <%=f.label "Description", class: "self-start font-bold"%>
        <%=f.text_area :description, class: "w-[100%] rounded-lg min-h-[200px] p-2"%>

        <div class="flex gap-4 mt-4">
            <%=f.submit :class => "h-[30px] w-[130px] bg-slate-200 rounded-lg ring-2 ring-amber-500 ring-offset-2 hover:ring-4 " %>
            <%= link_to "Cancel", "#", data: {
                controller: "modals",
                action: "modals#close",
                },
                class: "h-[30px] w-[130px] bg-slate-200 rounded-lg ring-2 ring-amber-500 ring-offset-2 hover:ring-4  text-center"
                %>
        </div>
    </div>
<%end%>